<div class="form-group" ng-class="{ 'has-error': beachForm.name.$touched && beachForm.name.$invalid }">
  <label for="name" class="col-sm-1 control-label">Name</label>
  <div class="col-sm-11">
    <input type="text" ng-model="ctrl.beach.name" class="form-control" id="name" name="name" placeholder="Beach Name" autofocus="true" required>
  </div>
  <div class="help-block" ng-messages="beachForm.name.$error" ng-show="beachForm.name.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
</div>

<div class="form-group">
  <label for="description" class="col-sm-1 control-label">Description</label>
  <div class="col-sm-11">
    <textarea ng-model="ctrl.beach.description" id="description" cols="30" rows="4" class="form-control" placeholder="Description"></textarea>
  </div>
</div>

<div class="form-group">
  <label for="address" class="col-sm-1 control-label">Address</label>
  <div class="col-sm-11">
    <input type="text" ng-model="ctrl.beach.address" class="form-control" id="address" placeholder="Street Address">
  </div>
</div>

<div class="form-group">
  <label for="city" class="col-sm-1 control-label">City</label>
  <div class="col-sm-4"  ng-class="{ 'has-error': beachForm.city.$touched && beachForm.city.$invalid }">
    <input type="text" ng-model="ctrl.beach.city" class="form-control" id="city" name="city" placeholder="City" required>
  </div>
  <div class="help-block" ng-messages="beachForm.city.$error" ng-show="beachForm.city.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
  <label for="state" class="col-sm-1 control-label">State</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.state.$touched && beachForm.state.$invalid }">
    <input type="text" ng-model="ctrl.beach.state" class="form-control" id="state" name="state" placeholder="State" ng-minlength="2" ng-maxlength="2" required>
  </div>
  <div class="help-block" ng-messages="beachForm.state.$error" ng-if="beachForm.state.$touched">
    <p ng-message="minlength">Please enter the two-letter abbreviation for the state.</p>
    <p ng-message="maxlength">Please enter the two-letter abbreviation for the state.</p>
  </div>
  <label for="zip" class="col-sm-1 control-label">Zip Code</label>
  <div class="col-sm-3">
    <input type="text" ng-model="ctrl.beach.zip" class="form-control" id="zip" placeholder="Zip Code">
  </div>
</div>

<div class="form-group">
    <h3>Amenities</h3>
    <label class="checkbox-inline">
      <input type="checkbox" id="restrooms" ng-model="ctrl.beach.restrooms"> Restrooms
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="showers" ng-model="ctrl.beach.showers"> Showers
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="fountains" ng-model="ctrl.beach.water_fountains"> Water Fountains
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="food" ng-model="ctrl.beach.food_onsite"> Food Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="bar" ng-model="ctrl.beach.bar_onsite"> Bar Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="shopping" ng-model="ctrl.beach.shopping_onsite"> Shopping Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="pier" ng-model="ctrl.beach.pier"> Pier
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="firepits" ng-model="ctrl.beach.firepits"> Firepits
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" id="dogs" ng-model="ctrl.beach.dogs_allowed"> Dogs Allowed
    </label>
</div>

<div class="form-group">
  <h3>Rates</h3>
  <label for="parking_hourly" class="col-sm-2 control-label">Parking Hourly</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.parking_hourly.$touched && beachForm.parking_hourly.$invalid }">
    <input type="number" ng-model="ctrl.beach.parking_hourly_cost" class="form-control" id="parking_hourly" name="parking_hourly" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.parking_hourly.$error" ng-show="beachForm.parking_hourly.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>

  <label for="parking_daily" class="col-sm-2 control-label">Parking Daily</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.parking_daily.$touched && beachForm.parking_daily.$invalid }">
    <input type="number" ng-model="ctrl.beach.parking_daily_cost" class="form-control" id="parking_daily" name="parking_daily" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.parking_daily.$error" ng-show="beachForm.parking_daily.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
</div>

<div class="form-group">
  <label for="bike_hourly" class="col-sm-2 control-label">Bike Rental Hourly</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.bike_hourly.$touched && beachForm.bike_hourly.$invalid }">
    <input type="number" ng-model="ctrl.beach.bike_rental_hourly_cost" class="form-control" id="bike_hourly" name="bike_hourly" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.bike_hourly.$error" ng-show="beachForm.bike_hourly.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>

  <label for="bike_daily" class="col-sm-2 control-label">Bike Rental Daily</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.bike_daily.$touched && beachForm.bike_daily.$invalid }">
    <input type="number" ng-model="ctrl.beach.bike_rental_daily_cost" class="form-control" id="bike_daily" name="bike_daily" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.bike_daily.$error" ng-show="beachForm.bike_daily.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
</div>

<div class="form-group">
  <label for="chair_hourly" class="col-sm-2 control-label">Chair Rental Hourly</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.chair_hourly.$touched && beachForm.chair_hourly.$invalid }">
    <input type="number" ng-model="ctrl.beach.chair_rental_hourly_cost" class="form-control" id="chair_hourly" name="chair_hourly" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.chair_hourly.$error" ng-show="beachForm.chair_hourly.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>

  <label for="chair_daily" class="col-sm-2 control-label">Chair Rental Daily</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.chair_daily.$touched && beachForm.chair_daily.$invalid }">
    <input type="number" ng-model="ctrl.beach.chair_rental_daily_cost" class="form-control" id="chair_daily" name="chair_daily" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.chair_daily.$error" ng-show="beachForm.chair_daily.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
</div>

<div class="form-group">
  <label for="umbrella_hourly" class="col-sm-2 control-label">Umbrella Rental Hourly</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.umbrella_hourly.$touched && beachForm.umbrella_hourly.$invalid }">
    <input type="number" ng-model="ctrl.beach.umbrella_rental_hourly_cost" class="form-control" id="umbrella_hourly" name="umbrella_hourly" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.umbrella_hourly.$error" ng-show="beachForm.umbrella_hourly.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>

  <label for="umbrella_daily" class="col-sm-2 control-label">Umbrella Rental Daily</label>
  <div class="col-sm-2" ng-class="{ 'has-error': beachForm.umbrella_daily.$touched && beachForm.umbrella_daily.$invalid }">
    <input type="number" ng-model="ctrl.beach.umbrella_rental_daily_cost" class="form-control" id="umbrella_daily" name="umbrella_daily" min="0">
  </div>
  <div class="help-block" ng-messages="beachForm.umbrella_daily.$error" ng-show="beachForm.umbrella_daily.$touched">
    <div ng-messages-include="messages.html"></div>
  </div>
</div>

<div class="form-group">
  <div>
    <input type="submit" class="btn btn-info" value="Save" ng-disabled="beachForm.$invalid">
  </div>
</div>

