<div ng-repeat="beach in index.beaches">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4><a ui-sref="beach({id: beach.id})">{{ beach.name }}</a></h4>
      </div>
      <div class="panel-body">
        <p><strong>Address:</strong> {{ beach.address}}, {{ beach.city }} {{ beach.state}} {{ beach.zip }}</p>
        <p><em>{{ beach.description}}</em></p>
          <a>
            {{ beach.score }} points | {{ beach.comments.length }} comments
          </a>
      </div>
    </div>
  </div>
</div>