<div ng-repeat="beach in ctrl.beaches">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>
          <a ui-sref="home.beach({id: beach.id})">{{ beach.name }}</a>
          <span class="beach-votes">
            <button ng-click="ctrl.upvote(beach)" class="btn btn-primary btn-xs">+</button>
            <span>{{ beach.score }}</span>
            <button ng-click="ctrl.downvote(beach)" class="btn btn-primary btn-xs">&ndash;</button>
          </span>
        </h4>
      </div>
      <div class="panel-body fixed-panel">
        <p><strong>Address:</strong> {{ beach.address }}<span ng-show="beach.address">,</span> {{ beach.city }}<span ng-show="beach.city">,</span> {{ beach.state }} {{ beach.zip }}</p>
        <p><em>{{ beach.description | characters:275 :true }}</em></p>
        <a ng-click="isCollapsed = !isCollapsed">{{ beach.score }} points | {{ beach.comments.length }} comments</a>
        <br><br>

        <div uib-collapse="!isCollapsed">
          <p ng-repeat="comment in beach.comments | limitTo:10">
            <comment comment="comment"></comment>
          </p>
          <a ui-sref="home.beach({id: beach.id})" class="btn btn-info btn-sm">More</a>
        </div>

      </div>
    </div>
  </div>
</div>