<div class="form-group">
  <div class="row">
    <h4 class="col-sm-1">SEARCH</h4>
    <div class="col-sm-4">
      <input type="text" ng-model="search.name" class="form-control" id="name" placeholder="By Name">
    </div>

    <div class="col-sm-4">
      <input type="text" ng-model="search.city" class="form-control" id="name" placeholder="By City">
    </div>

    <div class="col-sm-2">
      <input type="text" ng-model="search.state" class="form-control" id="name" placeholder="By State">
    </div>
  <button ng-click="searchCollapse = !searchCollapse" class="btn btn-primary">More</button>
  </div>
</div>

<div uib-collapse="!searchCollapse">
  <div class="form-group">
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.restrooms">Restrooms
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.showers">Showers
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.water_fountains">Water Fountains
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.food_onsite">Food Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.bar_onsite">Bar Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.shopping_onsite">Shopping Onsite
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.pier">Pier
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.firepits">Firepits
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="ctrl.checkboxModel.dogs_allowed">Dogs Allowed
    </label>
  </div>
</div>

<div ng-repeat="beach in ctrl.beaches | orderBy: '-score' | filter:search | amenitiesFilter:ctrl.checkboxModel" >
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>
          <a ui-sref="home.beach({id: beach.id})">{{ beach.name }}</a>
          <span class="beach-votes">
            <button ng-click="ctrl.upvote(beach)" class="btn btn-primary btn-xs">+</button>
            <span>{{ beach.score }}</span>
            <button ng-click="ctrl.downvote(beach)" class="btn btn-primary btn-xs">&ndash;</button>
          </span>
        </h4>
      </div>
      <div class="panel-body fixed-panel">
        <p><strong>Address:</strong> {{ beach.address }}<span ng-show="beach.address">,</span> {{ beach.city }}<span ng-show="beach.city">,</span> {{ beach.state }} {{ beach.zip }}</p>
        <p><em>{{ beach.description | characters:275 :true }}</em></p>
        <a ng-click="isCollapsed = !isCollapsed">{{ beach.score }} points | {{ beach.comments.length }} comments</a>
        <br><br>

        <div uib-collapse="!isCollapsed">
          <p ng-repeat="comment in beach.comments | orderBy: '-score' | limitTo:10">
            <comment comment="comment" beach="beach"></comment>
          </p>
          <a ui-sref="home.beach({id: beach.id})" class="btn btn-info btn-sm">More</a>
        </div>

      </div>
    </div>
  </div>
</div>