<h2 class="page-header beach">{{ ctrl.beach.name }} <small>{{ ctrl.beach.address}}<span ng-show="ctrl.beach.address">,</span> {{ ctrl.beach.city }}<span ng-show="ctrl.beach.city">,</span> {{ ctrl.beach.state}} {{ ctrl.beach.zip }}</small></h2>
<p><em>{{ ctrl.beach.description}}</em></p>

<ng-gallery images="ctrl.images" thumbs-num="10"></ng-gallery>
<button ngf-select="ctrl.upload($files)" multiple accept="image/*" class="btn btn-sm btn-info">Add Photos</button>

<div class="row beach-details">

  <div class="col-sm-4">
    <h4>Amenities</h4>
    <p ng-show="ctrl.beach.parking_hourly_cost"><strong>Parking Hourly Rate:</strong> ${{ ctrl.beach.parking_hourly_cost }}</p>
    <p ng-show="ctrl.beach.parking_daily_cost"><strong>Parking Daily Rate:</strong> ${{ ctrl.beach.parking_daily_cost }}</p>
    <p ng-show="ctrl.beach.bike_rental_hourly_cost"><strong>Bike Rental Hourly Rate:</strong> ${{ ctrl.beach.bike_rental_hourly_cost }}</p>
    <p ng-show="ctrl.beach.bike_rental_daily_cost"><strong>Bike Rental Daily Rate:</strong> ${{ ctrl.beach.bike_rental_daily_cost }}</p>
    <p ng-show="ctrl.beach.chair_rental_hourly_cost"><strong>Chair Rental Hourly Rate:</strong> ${{ ctrl.beach.chair_rental_hourly_cost }}</p>
    <p ng-show="ctrl.beach.chair_rental_daily_cost"><strong>Chair Rental Daily Rate:</strong> ${{ ctrl.beach.bike_rental_daily_cost }}</p>
    <p ng-show="ctrl.beach.umbrella_rental_hourly_cost"><strong>Umbrella Rental Hourly Rate:</strong> ${{ ctrl.beach.umbrella_rental_hourly_cost }}</p>
    <p ng-show="ctrl.beach.umbrella_rental_daily_cost"><strong>Umbrella Rental Daily Rate:</strong> ${{ ctrl.beach.bike_rental_daily_cost }}</p>
    <p><strong>Restrooms:</strong> {{ ctrl.beach.restrooms ? "Yes" : "No" }}</p>
    <p><strong>Showers:</strong> {{ ctrl.beach.showers ? "Yes" : "No" }}</p>
    <p><strong>Water Fountains:</strong> {{ ctrl.beach.water_fountains ? "Yes" : "No" }}</p>
    <p><strong>Food Onsite:</strong> {{ ctrl.beach.food_onsite ? "Yes" : "No" }}</p>
    <p><strong>Bar Onsite:</strong> {{ ctrl.beach.bar_onsite ? "Yes" : "No" }}</p>
    <p><strong>Shopping Onsite:</strong> {{ ctrl.beach.shopping_onsite ? "Yes" : "No" }}</p>
    <p><strong>Pier:</strong> {{ ctrl.beach.pier ? "Yes" : "No" }}</p>
    <p><strong>Firepits:</strong> {{ ctrl.beach.firepits ? "Yes" : "No" }}</p>
    <p><strong>Dogs Allowed:</strong> {{ ctrl.beach.dogs_allowed ? "Yes" : "No" }}</p>
    <a ui-sref="home.editBeach({id: ctrl.beach.id})" class="btn btn-info btn-sm">Edit</a>
    <a ng-click="ctrl.deleteBeach(ctrl.beach)" class="btn btn-info btn-sm" ng-show="ctrl.user.id === ctrl.beach.user_id">Delete</a>
  </div>

  <div class="col-sm-8">

    <h4><small class="pull-right">{{ ctrl.beach.comments.length }} comments</small> Comments </h4>

    <div class="text-center">
      <div class="well">
      <h4>What do you think of this beach?</h4>
      <form ng-submit="ctrl.addComment(ctrl.user, ctrl.beach)" name="commentForm" novalidate>
        <div class="input-group" ng-class="{ 'has-error': commentForm.note.$touched && commentForm.note.$invalid }">
          <input type="text" ng-model="ctrl.comment.note" id="userComment" name="note" class="form-control input-sm chat-input" placeholder="Write your message here..." ng-maxlength="140">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="commentForm.$invalid"><span class="glyphicon glyphicon-comment"></span><span class="submit-text">  Add Comment</span></button>
          </span>
        </div>
        <div class="help-block" ng-messages="commentForm.note.$error" ng-if="commentForm.note.$touched">
          <p ng-message="maxlength">Comments must be 140 characters or less.</p>
        </div>
      </form>
      </div>
    </div>


    <div ng-repeat="comment in ctrl.beach.comments | orderBy: '-score'">
      <comment comment="comment" beach="ctrl.beach"></comment>
    </div>

  </div>

</div>