body { 
  padding-top: 60px
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000;
}

ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus,
.navbar-nav a:hover,
.navbar-nav a:focus {
  background-color: #1adfdf; 
}

.navbar-custom {
    background-color:#3cabe7;
    color:#fff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

@media (min-width: 767px) {
  .fixed-panel {
    min-height: 250px;
  }
}

.shape {
  text-align:left;
  font-size: 20px;
  background-color: #27C2CA;
  height:60px;
  color:white;
  margin:20px auto;
  position:relative;
}

.shape:before {
  content:"";
  width:0px;
  height:0px;
  border-top:60px solid #27C2CA;
  border-left:60px solid transparent;
  position:absolute;
  right:100%;
  top:0px;
}

.beach-votes {
  float: right;
}

textarea {
    resize: none;
}
