body { 
  padding-top: 60px
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000;
}

ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus,
.navbar-nav a:hover,
.navbar-nav a:focus {
  background-color: #1adfdf; 
}

.navbar-custom {
    background-color:#3cabe7;
    color:#fff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

@media (min-width: 767px) {
  .fixed-panel {
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
  }
}