<!DOCTYPE html>
<html>
<head>
  <title>Beaches</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app">

<ui-view></ui-view>

</body>
</html>
